.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 20px;
	margin-bottom: 20px;
	gap: 20px;
}

.pagination .page-number {
	font-size: 16px;
	font-weight: 600;
	color: #858585;
	background: transparent;
	padding: 10px 20px;
	border-radius: 10px;
    border: 1px solid #e2e2e2;
	cursor: pointer;
	transition: all 0.5s ease;
}

.pagination .page-number:hover {
	color: #fff;
	background: #52057b;
}

.pagination .active {
	color: #fff;
	background: #52057b;
}

.pagination .disabled {
	color: #adadad;
	background: #d6d6d6;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
}

.pagination .page-number.disabled:hover{
    color: #adadad;
	background: #d6d6d6;
    cursor: auto;
}