.vertical-divider {
    height: 0px;
    opacity: 0.1;
    border: 1px solid #383838;
    transform: rotate(90deg);
}

.reviews-grid{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.review-section{
    margin: 0 40px;
}

@media screen and (max-width: 460px){
    .reviews-grid{
        flex-direction: column;
        margin: 0 40px;
    }
}