.productDetails{
    
}


@media only screen and (min-width: 990px){
    .recommend-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mainImg:hover{
        object-fit: cover;
        border-radius: 5px;
        transform: scale(1.3);
    }
}

@media only screen and (min-width: 550px){
    .recommend-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 350px){
    .recommend-cards{
        display: flex;
        flex-direction: column;
    }
}