.recommend {
  margin: 64px 0 0 0;
}

.recommend .rec_title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 0 40px;
}

.recommend .btn {
  width: 100%;
  background: #52057b;
  border-radius: 8px;
  border: none;
}

.rows_recom {
  display: flex;
  overflow-x: auto;
  padding: 0 40px 0 40px;
}

.rows_recom::-webkit-scrollbar {
  display: none;
}

.rec_rows {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.deal-card {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  width: 270px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.deal-image img {
  height: 167px;
}

.deal-image {
  background-color: transparent;
  text-align: center;
}

.deal-content {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deal-content p.deal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 13px 0 13px;
  height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.deal-content h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.deal-body {
  margin: 16px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 980px) {
  .deal-card,
  .deal-content {
    width: 163px;
  }

  .deal-image img {
    height: 117px;
  }
}

@media only screen and (max-width: 460px) {
  .deal-card,
  .deal-content {
    width: 90%;
    margin: auto;
  }

  .deal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;
  }
}
