@import url("../../mediaQuery.css");

.choose-color .color-box,
.choose-memory .memory-box{
    margin: 20px;
}

.quantity .quantity-box{
    margin: 20px;
} 

.addtocart-btn:hover{
    background-color: #e2e2e2 !important;
}