.carousel-slider {
  background-color: #f2f4f7;
  padding: 64px 40px 64px 40px;
  margin: 0;
}

.carousel-indicators{
  visibility: hidden;
}

@media only screen and (max-width: 400px){
  .carousel-slider {
    padding: 24px;
  }
}