.card {
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  margin-right: 0;
  min-width: 20%;
}

.card .card-img-top{
  border: none;
}

/* .card-body p{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
} */

.price-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.price-sec h5{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.rating{
  display: flex;
  align-items: center;
  font-family: 16px;
  font-weight: 500;
}

.rating img{
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.rating p{
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 700px){
  .card{
      min-width: 40%;
  }
}

@media only screen and (max-width: 900px){
  .card{
      min-width: 40%;
  }
}

@media only screen and (max-width: 460px){
  .card-body p{
    font-size: 12px;
    margin: 0;
  }

  .price-sec h5{
    font-size: 14px;
  }

  .price-sec{
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}