@media only screen and (max-width: 400px){
    .choose-color,
    .choose-memory{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .choose-color .color-box,
    .choose-memory .memory-box{
        margin-top: 10px;
    }
}